<%= link_to('Edit Account', edit_user_registration_path, :id => 'edit-user') %>

<!-- Iterates Over Games and Adds to Table -->
<h1 class="animated fadeIn text-center">Your Games</h1>
<br>
<table class="table table-striped table-hover">
<thead>
  <tr>
    <th>Weekly Allotment</th>
    <th>Household Size</th>
    <th>Monthly Income</th>
    <th>State of Residence</th>
    <th>Allotment Before Cut</th>
    <th>Allotment After Cut</th>
  </tr>
</thead>
<tbody>
  <% if @user.games.length > 0 &&%>
    <% @user.games.each do |game| %>
      <% if game.completed === true %>
      <tr>
       <td>$<%= game.weekly_allotment %></td>
       <td><%= game.household_size %></td>
       <td>$<%= game.income %></td>
       <% state =  State.find_by(id: game.state_id) %>
       <td><%= state.state %></td>
       <td><%= game.allotment_before %></td>
       <td><%= game.allotment %></td>
      </tr>
      <% end %>
    <% end %>
  <% end %>
  </tbody>
</table>


